@using Internship.Application
@model IList<QuestionModel>
@{
    int count = Model.Count;
    int index = 0;
    bool still = true;

    string distict;
}

<!-- Page Header -->
<div class="pl-0">
    <div class="row align-items-end">
        <div class="col-sm mb-2 mb-sm-0">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-no-gutter">
                    <li class="breadcrumb-item"><a class="breadcrumb-link" href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Question</li>
                </ol>
            </nav>
            <h3 class="page-header-title mb-5">Questions & Answers</h3>
        </div>

        <div class="col-sm-auto">
            <button id="addquestion" type="button" class="btn btn-sm btn-primary mb-4" data-toggle="modal" data-target="#exampleModal">
                <i class="tio-add-circle-outlined"></i> Add a question
            </button>
        </div>
    </div>
    <!-- End Row -->
</div>
<!-- End Page Header -->

@{
    if (count > 0)
        distict = Model.First().Group;
    else
    {
        <p>There are no questions to show.</p>
        return;
    }
}

@while (still)
{
    <div class="pl-0 my-3 h5"><span class="legend-indicator bg-warning"></span>@distict</div>
    <div class="accordion mx-0" id="accordionE">

        @for (; index < count; index++)
        {
            @if (Model[index].Group != distict)
            {
                distict = Model[index].Group;
                break;
            }

            <div class="card" id="heading_@Model[index].QuestionId">
                <a class="pt-3 px-3 pb-2 card-btn btn-block collapsed" href="javascript:;" data-toggle="collapse" data-target="#question_@Model[index].QuestionId" aria-expanded="false" aria-controls="question_@Model[index].QuestionId">
                    <p class="h5">Hỏi: @Html.DisplayFor(o => Model[index].InData)</p>
                    <span class="card-btn-toggle">
                        <span class="card-btn-toggle-default">
                            <i class="tio-add"></i>
                        </span>
                        <span class="card-btn-toggle-active">
                            <i class="tio-remove"></i>
                        </span>
                    </span>
                </a>

                <div id="question_@Model[index].QuestionId" class="collapse" aria-labelledby="heading_@Model[index].QuestionId">
                    <div class="px-3">
                        <p><strong>Đáp: </strong>@Html.Raw(Model[index].OutData)</p>
                    </div>
                </div>
            </div>
            @if (index == count - 1) still = false;
        }
    </div>
}
