@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Welcome Page | Internship - TMA Solutions</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/favicon.ico">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="~/lib/front/vendor.min.css">
    <link rel="stylesheet" href="~/css/style.css">

    <!-- CSS Front Template -->
    <link rel="stylesheet" href="~/css/site.css">
</head>

<body>
    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main" class="main">
        <div class="container">
            <div class="footer-height-offset d-flex justify-content-center align-items-center flex-column">
                <div class="row justify-content-sm-center text-center py-10">
                    <div class="col-sm-10 col-md-12">
                        <img class="img-fluid mb-5" src="~/img/graphs.svg" alt="Image Description" style="max-width: 21rem;">

                        <h1>Hello, nice to see you!</h1>
                        <p>You are now minutes away from creativity than ever before. Enjoy!</p>

                        <a class="btn btn-primary" href="/">Start now!</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- ========== END MAIN CONTENT ========== -->
    <!-- JS Front -->
    <script src="~/lib/front/theme.min.js"></script>
</body>
</html>