<!-- Activity -->
<div id="activitySidebar" class="hs-unfold-content sidebar sidebar-left sidebar-bordered sidebar-box-shadow">
    <div class="card card-lg sidebar-card">
        <div class="card-header">
            <h4 class="card-header-title">Activity stream</h4>

            <!-- Toggle Button -->
            <a class="js-hs-unfold-invoker btn btn-icon btn-xs btn-ghost-dark ml-2" href="javascript:;"
               data-hs-unfold-options='{
                    "target": "#activitySidebar",
                    "type": "css-animation",
                    "animationIn": "fadeInLeft",
                    "animationOut": "fadeOutLeft",
                    "hasOverlay": true,
                    "smartPositionOff": true
                }'>
                <i class="tio-clear tio-lg"></i>
            </a>
            <!-- End Toggle Button -->
        </div>

        <!-- Body -->
        <div class="card-body sidebar-body sidebar-scrollbar">
            <!-- Step -->
            <ul id="user-activities" class="step step-icon-sm step-avatar-sm"></ul>
            <!-- End Step -->
        </div>
        <!-- End Body -->
    </div>
</div>
<!-- End Activity -->
