<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Internship - TMA Solutions</title>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <!-- CSS Implementing -->
    <link rel="stylesheet" href="/css/vendor.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/site.css">
</head>

<body class="   footer-offset">

    @await Html.PartialAsync("/Views/Shared/_TopMenu.cshtml")

    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main" class="main">

        <!-- Content -->
        <div class="content container-fluid px-6">
            @RenderBody()
        </div>
        <!-- End Content -->
        <!-- Footer -->
        <div class="footer">
            <div class="row justify-content-between align-items-center">
                <div class="col">
                    <p class="font-size-sm mb-0">&copy; Front. <span class="d-none d-sm-inline-block">@DateTime.Now.Year Htmlstream.</span></p>
                </div>
                <div class="col-auto">
                    <div class="d-flex justify-content-end">
                        <!-- List Dot -->
                        <ul class="list-inline list-separator">
                            <li class="list-inline-item">
                                <a class="list-separator-link" href="#">FAQ</a>
                            </li>

                            <li class="list-inline-item">
                                <a class="list-separator-link" href="#">License</a>
                            </li>

                            <li class="list-inline-item">
                                <!-- Keyboard Shortcuts Toggle -->
                                <div class="hs-unfold">
                                    <a class="js-hs-unfold-invoker btn btn-icon btn-ghost-secondary rounded-circle" href="javascript:;"
                                       data-hs-unfold-options='{
                              "target": "#keyboardShortcutsSidebar",
                              "type": "css-animation",
                              "animationIn": "fadeInRight",
                              "animationOut": "fadeOutRight",
                              "hasOverlay": true,
                              "smartPositionOff": true
                             }'>
                                        <i class="tio-command-key"></i>
                                    </a>
                                </div>
                                <!-- End Keyboard Shortcuts Toggle -->
                            </li>
                        </ul>
                        <!-- End List Dot -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer -->
    </main>
    <!-- ========== END MAIN CONTENT ========== -->
    <!-- ========== SECONDARY CONTENTS ========== -->
    @await Html.PartialAsync("/Views/Shared/_KeyboardShortcuts.cshtml")
    <!-- ========== END SECONDARY CONTENTS ========== -->
    <!-- JS Implementing Plugins -->
    <script src="/js/vendor.min.js"></script>
    <script src="/js/theme.min.js"></script>
    <link rel="stylesheet" href="/css/jquery-confirm.css">
    <script src="/js/jquery-confirm.js"></script>

    @RenderSection("Scripts", required: false)

    <script>
        $(document).on('ready', function () {
            // INITIALIZATION OF UNFOLD
            // =======================================================
            $('.js-hs-unfold-invoker').each(function () {
                var unfold = new HSUnfold($(this)).init();
            });

            // INITIALIZATION OF FILE ATTACH
            // =======================================================
            $('.js-file-attach').each(function () {
                var customFile = new HSFileAttach($(this)).init();
            });

            // INITIALIZATION OF MASKED INPUT
            // =======================================================
            $('.js-masked-input').each(function () {
                var mask = $.HSCore.components.HSMask.init($(this));
            });

            // INITIALIZATION OF SELECT2
            // =======================================================
            $('.js-select2-custom').each(function () {
                var select2 = $.HSCore.components.HSSelect2.init($(this));
            });


            // Đăng xuất
            $('#signout-cmd').on('click', function () {
                $.confirm({
                    title: 'Sign out?',
                    icon: 'tio-smile',
                    theme: 'supervan',
                    type: 'red',
                    buttons:
                    {
                        No: function () { },
                        logoutUser: {
                            text: 'Yes',
                            action: function () {
                                window.location = '/Logout';
                            }
                        },
                    }
                });
            });

            $('#navSubmenuPagesAccountDropdown1 .dropdown-item').on('click', function () {
                $('#user-status').removeClass('avatar-status-success');
                $('#user-status').removeClass('avatar-status-warning');
                $('#user-status').removeClass('avatar-status-danger');

                switch ($(this).attr('data-id')) {
                    case '2':
                        $('#user-status').addClass('avatar-status-warning');
                        //
                        break;
                    case '3':
                        $('#user-status').addClass('avatar-status-danger');
                        //
                        break;
                    default:
                        $('#user-status').addClass('avatar-status-success');
                        //
                        break;
                }
            });
        });
    </script>
</body>
</html>